
* {
  box-sizing: border-box;
}

.container{
  display: flex;
  border-bottom: 1px solid black;
  width: 100%;
  position:fixed;
  z-index: 1;
  height: 100px;
  margin-top: -10px;
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
 }

 .logo{
  display: inline-flex;
  align-items: center;
  color: mediumaquamarine;
  flex-grow: 1;
  
 }

span{
  padding-left: 10px;
}

.navigation{
  display: inline-flex;
  align-items: center;
  padding-right: 50px;

}

.navigation a{
  color: black;
}

#main{
  display: flex;
  border: 1px solid black;
  width: 100%
  top: ;
  padding-top: 100px;
}

.large{
  display: flex;
  width: 630px;
  border: 1px solid black;
  flex-direction: column;
  margin: 20px;
}

.medium{
  display: flex;
  width: 300px;
  border: 1px solid black;
  flex-direction: column;
  margin: 20px;
}

.small{
  display: flex;
  width: 240px;
  border: 1px solid black;
  flex-direction: column;
  margin: 20px;
}

.imageContent-1{
display: flex;
background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png');
height: 300px;
font-family: Georgia;
font-weight: bold;
font-size: 40px;
color: white;
border: 1px solid black;
width: 100%;

}

.imageContent-2{
display: flex;
background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png');
height: 300px;
font-family: Georgia;
font-weight: bold;
font-size: 30px;
color: white;
text-align: center;
border: 1px solid black;
width: 100%;
}

.imageContent-3{
  display: flex;
background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png');
height: 300px;
font-family: Georgia;
font-weight: bold;
font-size: 30px;
color: white;
text-align: center;
padding-right: 10px;
border: 1px solid black;
width: 100%;
}

.imageContent-4{
  display: flex;
background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png');
height: 300px;
font-family: Georgia;
font-weight: bold;
font-size: 30px;
color: white;
text-align: center;
padding-right: 10px;
border: 1px solid black;
width: 100%;
}

.story{
display: flex;
flex-direction: column;
width: 300px;
display: block;
}

.textContent{
padding-top: 0px;
font-size: 14px;
}
