*{
  box-sizing: border-box;
}

.container{
  display: flex;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid black;
  position: fixed;
  background-color: white;
  z-index: 1;
}

.logo-1{
  padding-left: 60px;
}

 .logo-2{
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: mediumaquamarine;
  padding: 20px 15px;
  flex-grow: 1;

}
.navigation{
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  padding: 20px 60px 20px 0px;
  word-spacing: 20px;
  display: inline-block;


}

.navigation a{
color: #000000;
}

.main{
display: flex;
top: 50px;
padding-top: 70px;
justify-content: space-around;
}

.large{
width: 630px;
border: 1px solid black;
margin-top: 40px;
font-family: Georgia;
font-size: 17px;
color: black;
}

.medium{
width: 300px;
border: 1px solid black;
margin-top: 40px;
font-family: Georgia;
font-size: 17px;
color: black;
}

.small{
width: 240px;
border: 1px solid black;
margin-top: 40px;
font-family: Georgia;
font-size: 17px;
color: black;
}

.textContent{
border: 1px solid black;
padding: 30px;
font-size: 15px;
}

.imageContent-1{
background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png');
height: 300px;
font-family: Georgia;
font-weight: bold;
font-size: 40px;
color: white;

}

.imageContent-2{
background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png');
height: 300px;
font-family: Georgia;
font-weight: bold;
font-size: 30px;
color: white;
text-align: center;
}

.imageContent-3{
background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png');
height: 300px;
font-family: Georgia;
font-weight: bold;
font-size: 30px;
color: white;
text-align: center;
}

.imageContent-4{
background-image: url('https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png');
height: 300px;
font-family: Georgia;
font-weight: bold;
font-size: 30px;
color: white;
text-align: center;
}

.story{
display: flex;
flex-direction: column;
width: 300px;
display: inline-block;

}

h2{
font-family: Georgia;
font-size: 17px;
}

