.container{
  display: flex;
  border-bottom: 1px solid black;
  height: 70px;
}

img{
  padding-left: 60px;
}

 .logo{
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: mediumaquamarine;
  padding: 20px 15px;
  flex-grow: 1;

}
.navigation{
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  padding: 20px 60px 20px 0px;
  word-spacing: 20px;
}

.navigation a{
  color: #000000;
}

.main{
  display: flex;
  border: 1px solid black;
}

.logo{
  border: 1px solid black;
}

.largeCol{
  border: 1px solid black;
  width: 630px;
}

.mediumCol{
  border: 1px solid black;
  width: 300px;
}

.smallCol{
  border: 1px solid black;
  width: 240px;
}

.topline{
  border: 1px solid black;
}

.bottomLine-1{
  border: 1px solid black;
}

.bottomLine-2{
  border: 1px solid black;
}

.mediLine{
  border: 1px solid black;
}

.article-1{
  border: 1px solid black;
}

.article-2{
  border: 1px solid black;
}

.subHead-1{
  border: 1px solid black;
}

.subHead-2{
  border: 1px solid black;
}

.subHead-3{
  border: 1px solid black;
}

.subHead-4{
  border: 1px solid black;
}

.image{
  border: 1px solid black;
}

.empty{
  border: 1px solid black;
}